{% extends 'main/base.html' %}

{% block title %}
Friends |
{% endblock %}

{% block content %}
<div class="chatapp-chat-container">
  <div class="chatapp-left-container">
    <h3>Users</h3>
    <ul>
      <li>user 1</li>
      <li>user 1</li>
      <li>user 1</li>
    </ul>
  </div>

  <div class="chatapp-right-container">
    <div class="chatapp-header">
      <p>pfp</p>
      <h3>Jane</h3>
    </div>

    <div class="chatapp-body">
      <p>Rest of chat</p>
    </div>

    <div>
      <input type="text" name="friendMessage" placeholder="Enter a message...">
      <button class="btn btn-secondary">Send</button>
    </div>
  </div>
</div>
{% endblock %}